﻿@model Sample.Web.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <div class="mui-col-sm-6 mui-col-sm-offset-3">
        <div class="mui-panel">
            <legend>Login</legend>
            <div class="mui-form-group">
                @Html.LabelFor(model => model.UserName, new { })
                @Html.TextBoxFor(model => model.UserName, null, new { @class = "mui-form-control" })
                <div>
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>
            <div class="mui-form-group">
                @Html.LabelFor(model => model.Password, new { })
                @Html.EditorFor(model => model.Password, null, new { @class = "mui-form-control" })
                <div>
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <center>
                <div class="mui-form-group">
                    <input type="submit" value="Login" id="submitLink" class="mui-btn mui-btn-primary mui-btn-raised" />
                    @Html.ActionLink("Sign Up", "SignUp", "User", null, new { @class = "mui-btn mui-btn-accent mui-btn-raised" })
                </div>
            </center>
        </div>
    </div>
}
<script type="text/javascript" >
$(document).ready(function() {
    $('#Password').removeClass("text-box single-line password");
    $('#Password').addClass("mui-form-control mui-empty");
});

</script>