﻿@model Sample.Web.Models.UserModel
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@using (Html.BeginForm("SignUp", "User", FormMethod.Post))
{
    <div class="mui-col-sm-6 mui-col-sm-offset-3">
        <div class="mui-panel">
            <legend>Sign Up</legend>
            <div class="mui-form-group">
                <input type="text" class="mui-form-control">
                <label class="mui-form-floating-label">
                    Input 1</label>
            </div>
            <div class="mui-form-group">
                @Html.LabelFor(model => model.FirstName, new { })
                @Html.TextBoxFor(model => model.FirstName, null, new { @class = "mui-form-control" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div class="mui-form-group">
                @Html.LabelFor(model => model.MiddleName, new { })
                @Html.TextBoxFor(model => model.MiddleName, null, new { @class = "mui-form-control" })
                @Html.ValidationMessageFor(model => model.MiddleName)
            </div>
            <div class="mui-form-group">
                @Html.LabelFor(model => model.LastName, new { })
                @Html.TextBoxFor(model => model.LastName, null, new { @class = "mui-form-control" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <div class="mui-form-group">
                @Html.LabelFor(model => model.DateOfBirth, new { })
                @Html.TextBoxFor(model => model.DateOfBirth, null, new { @class = "mui-form-control" })
                @Html.ValidationMessageFor(model => model.DateOfBirth)
            </div>
            <div class="mui-form-group">
                <div class="mui-select">
                    @Html.LabelFor(model => model.Gender, new { })
                    @Html.DropDownListFor(model => model.Gender, new SelectListItem[]{
                new SelectListItem() {Text = "Select", Value=""},
                new SelectListItem() {Text = "Male", Value="M"},
                new SelectListItem() {Text = "Female", Value="F"},
                new SelectListItem() {Text = "Other", Value="O"}})
                    @Html.ValidationMessageFor(model => model.Gender)
                </div>
            </div>
            <div class="mui-form-group">
                @Html.LabelFor(model => model.Address1, new { })
                @Html.TextBoxFor(model => model.Address1, null, new { @class = "mui-form-control" })
                @Html.ValidationMessageFor(model => model.Address1)
            </div>
            <div class="mui-form-group">
                @Html.LabelFor(model => model.Address2, new { })
                @Html.TextBoxFor(model => model.Address2, null, new { @class = "mui-form-control" })
                @Html.ValidationMessageFor(model => model.Address2)
            </div>
            <div class="mui-form-group">
                @Html.LabelFor(model => model.City, new { })
                @Html.TextBoxFor(model => model.City, null, new { @class = "mui-form-control" })
                @Html.ValidationMessageFor(model => model.City,null, new {@class="error"})
            </div>
            <div class="mui-form-group">
                @Html.LabelFor(model => model.State, new { })
                @Html.TextBoxFor(model => model.State, null, new { @class = "mui-form-control" })
                @Html.ValidationMessageFor(model => model.State)
            </div>
            <div class="mui-form-group">
                @Html.LabelFor(model => model.Pincode, new { })
                @Html.TextBoxFor(model => model.Pincode, null, new {minlength=6, maxlength = 6, @class = "mui-form-control" })
                @Html.ValidationMessageFor(model => model.Pincode)
            </div>
            <div class="mui-form-group">
                @Html.LabelFor(model => model.MobileNumber, new { })
                @Html.TextBoxFor(model => model.MobileNumber, null, new {minlength=10,maxlength = 10, @class = "mui-form-control" })
                @Html.ValidationMessageFor(model => model.MobileNumber)
            </div>
            <div class="mui-form-group">
                @Html.LabelFor(model => model.EmailId, new { })
                @Html.TextBoxFor(model => model.EmailId, null, new { @class = "mui-form-control" })
                @Html.ValidationMessageFor(model => model.EmailId)
            </div>
            <div class="mui-form-group">
                @Html.LabelFor(model => model.UserName, new { })
                @Html.TextBoxFor(model => model.UserName, null, new { @class = "mui-form-control" })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <div class="mui-form-group">
                @Html.LabelFor(model => model.Password, new { })
                @Html.EditorFor(model => model.Password, null, new { @class = "mui-form-control" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="mui-form-group">
                @Html.LabelFor(model => model.ConformPassword, new { })
                @Html.EditorFor(model => model.ConformPassword, null, new { @class = "mui-form-control" })
                @Html.ValidationMessageFor(model => model.ConformPassword)
            </div>
            <div>
                <input type="submit" value="Sign Up" id="submitLink" class="mui-btn mui-btn-primary mui-btn-raised" />
                @Html.ActionLink("Back", "Login", "Login", null, new { @class = "mui-btn mui-btn-accent mui-btn-raised" })
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#Password').removeClass("text-box single-line password");
        $('#Password').addClass("mui-form-control mui-empty");

        $('#ConformPassword').removeClass("text-box single-line password");
        $('#ConformPassword').addClass("mui-form-control mui-empty")




    }); </script>
