﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- load MUI -->
    <link href="@Url.Content("~/Content/mui-0.1.18/css/mui.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/Sample.css")"rel="Stylesheet"type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
</head>
<body class="content-wrapper">
    <header>
    <div class="mui-appbar" align=right>
    @Html.ActionLink("Login", "Login", "Login", null, new { @class = "mui-btn mui-btn-default mui-btn-flat" })
    @Html.ActionLink("Create an account", "SignUp", "User", null, new { @class = "mui-btn mui-btn-default mui-btn-flat" })
  <!-- content -->
</div>
    </header>
    <section>
        @RenderBody()
    </section>
    <footer>
    </footer>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Content/mui-0.1.18/js/mui.min.js")"></script>
</body>
</html>


